fastapi==0.115.6
uvicorn==0.34.0
joblib==1.4.2
numpy==1.26.4
opencv-python-headless==4.10.0.84
Pillow==11.0.0
tensorflow==2.18.0
scikit-image==0.25.0
pandas==2.2.3
python-multipart==0.0.20
PyWavelets==1.8.0
imutils==0.5.4
natsort==8.4.0
matplotlib==3.10.0